<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalabel=0;" name="viewport" />
  <meta name="theme-color" content="#000000" />
  <title>今天吃什么？</title>
</head>

<body>
  <div id="root"></div>
</body>

</html>