.root {
  // margin: 20px 0px;
  background-color: white;
  // .title {
  //   font-size: 25px;
  //   color: blue;
  //   text-align: center;
  //   margin: 20px;
  // }
  .table {
    margin: 10px;
  }
  .titleAll {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
  }
  .title {
    // height: 50px;
    // line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: skyblue;
    font-size: 25px;
    // font-size: 0.8rem;
    // border: 1px solid red;
  }
  .titleEffect {
    width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    text-align: center;
    animation: typing 2s steps(22), effect 0.5s step-end infinite alternate;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes effect {
    50% {
      border-color: transparent;
    }
  }

  .fix {
    height: 30px;
    line-height: 30px;
    bottom: 0;
    position: fixed;
    background: #eee;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    z-index: 2;
    // background-color: #cfcfcf;
  }
}

// :global {
//   .ant-form .ant-form-item .ant-form-item-label,
//   .ant-form .ant-form-item .ant-form-item-control {
//     flex: 1;
//   }
// }

:global {
  .site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
}
